body {
  margin: 0;
  padding: 0;
  min-width: 646px;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system,Helvetica Neue,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

.container {
  width: 61.8%;
  max-width: 1160px;
  margin: 0 auto;
}

.clearfix:after {
  content: ' ';
  display: table;
  clear: both;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  height: 37px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 11px;
  background-color: #fbfbfb;
  border-bottom: 1pt solid #d0d4d9;
}

.bar-item {
  float: right;
}

.bar-item input[type=button] {
  outline: none;
  border: 1px solid #ccc;
  height: 38px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #fff;
  color: #a9a9a9;
  cursor: pointer;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.bar-item input[type=button]:hover {
  color: #7b8994;
}

#editor-container {
  position: relative;
  width: 646px;
  margin: 113px auto 0;
  border: none;
}

.ql-toolbar.ql-snow {
  position: fixed;
  border: none;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  top: 60px;
}

.ql-editor {
  -webkit-font-smoothing: antialiased;
  overflow: initial;
  min-height: 38px;
  margin: 0 0 100px;
  padding: 0 0 100px;
  color: #6d7075;
}

.ql-editor p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 30px;
  min-height: 26px;
  font-size: 16px;
  font-weight: 400;
}

.ql-editor.ql-blank::before {
  content: attr(data-placeholder)!important;
  color: rgba(208,211,217,.6);
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
  white-space: pre;
  position: absolute;
  left: 3px;
  top: 5px;
}

/*.ql-bubble .ql-tooltip:not(.ql-flip) .ql-tooltip-arrow {*/
  /*top: 40px;*/
  /*transform: rotate(180deg);*/
/*}*/

.ql-editor h2, div.editable h3 {
  font-family: -apple-system, Helvetica Neue, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  color: #464d5c;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ql-editor h1 {
  color: #464d5c;
}

.ql-editor h2 {
  font-size: 25px;
  min-height: 25px;
  margin: 30px 0;
}

.ql-bubble .ql-editor blockquote {
  line-height: 30px;
  min-height: 26px;
  font-size: 16px;
  font-weight: 200;
  display: block;
  margin-top: .5em;
  margin-bottom: 0;
  margin-left: 0;
  padding: .5em 20px;
  color: #989899;
  border-left: 5px solid #eee;
}

.ql-bubble .ql-editor a {
  text-decoration: none;
  color: #00a7e6;
}

.ql-editor ol li,
.ql-editor ul li {
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 30px;
}
.ql-editor ol li {
  list-style-type: decimal;
}
.ql-editor ul li {
  list-style-type: disc;
}
.ql-editor ol li:before,
.ql-editor ul li:before {
  display: none;
}
.ql-editor ol,
.ql-editor ul {
  padding-left: 25px;
  font-size: 16px;
  font-weight: 200;
  color: #6d7075;
  text-align: justify;
  font-family: -apple-system,Helvetica Neue,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

.ql-bubble .ql-editor pre.ql-syntax {
  background-color: #f8f8f8;
  color: #333;
}

input.ql-image[type='file'] {
  display: none;
}

pre, code {
  font-family: "Inconsolata",monospace;
  font-size: 18px;
}

.modal-bg {
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  background: transparent;
}

.modal-bg[data-state=hide],
.modal-bg[data-state=hide] .modal-bg-blur {
  -webkit-animation: fadeOut .3s 0s forwards ease;
  animation: fadeOut .3s 0s forwards ease;
}

.modal-bg[data-state=show],
.modal-bg[data-state=show] .modal-bg-blur {
  -webkit-animation: fadeIn .3s 0s forwards ease;
  animation: fadeIn .3s 0s forwards ease;
}

.modal-bg .modal-bg-blur {
  background: hsla(0,0%,98%,.98);
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  visibility: hidden;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.modal-bg .modal-bg-blur.dark {
  background: rgba(123,137,148,.65);
}

.md-content {
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 4px;
  padding: 40px 25px;
  color: #6d7075;
}

.md-content textarea {
  width: 100%;
  overflow: hidden;
  resize: none;
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 18px;
}

.insert-btns {
  display: none;
  position: absolute;
  height: 46px;
  border: 1px solid rgba(208,211,217,1);
  border-radius: 24px;
  background-color: #fff;
}
.insert-btns.active {
  border-radius: 2px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .08),
  0 2px 9px 0 rgba(123, 137, 148, .08);
}
a.insert-btn-show {
  display: inline-block;
  width: 44px;
  height: 44px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s,-webkit-transform .1s;
}
.insert-btns .insert-btn-show:hover  {
  color: #00a7e6;
}
.insert-btn-show.insert-btn-show-rotate {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: transform .25s,-webkit-transform .25s;
  border: none;
}
.insert-btn-addons {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
.insert-btn-addons.insert-btn-addons-show {
  display: block;
}
.insert-btn-addons li {
  display: inline-block;
  padding-left: 0;
  width: 44px;
  height: 44px;
  line-height: 48px;
  margin-left: 20px;
  text-align: center;
  float: left;
  color: #ddd;
  cursor: pointer;
  font-size: 20px;
}
.insert-btn-addons li a {
  color: #ddd;
}
.insert-btn-addons li:hover a {
  color: #00a7e6;
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.insert-images {
  position: relative;
  overflow: hidden;
  margin: 15px 0;
}
.insert-images:hover {
  outline: 2px solid rgba(58,123,247,.5);
}
.insert-images.insert-images-active {
  outline: 2px solid #3a7bf7;
}
.image-container {
  position: relative;
  height: 480px;
  width: 640px;
  overflow: hidden;
}
.insert-image-box {
  position: absolute;
  top: 0;
  left: 0;
}
.image-container img,
.insert-images img{
  display: block;
  width: 100%;
  transform: scale(1.3);
  opacity: .9;
  transition: all ease .3s;
}
.insert-images img.in,
.image-container img.in {
  transform: scale(1);
  opacity: 1;
}
